
/*
     FILE ARCHIVED ON 08:17:41 Aug 21, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:25:44 Mar 29, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.473
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.008
  cdx.remote: 17.626
  LoadShardBlock: 56.997 (3)
  PetaboxLoader3.datanode: 68.31 (4)
  load_resource: 1373.962
  PetaboxLoader3.resolve: 1328.716
*/